@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif; }

.buttons_Common {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  width: 225px;
  line-height: 56px;
  border-radius: 3px;
  text-align: center;
  transition: 0.2s ease-in-out; }

h2 {
  color: #6a6a6a;
  font-family: "Source Sans Pro";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px; }

h2 ~ p {
  color: #6a6a6a;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 29px; }

.breaker {
  margin-top: 45px;
  position: relative;
  display: inline-block; }
  .breaker__dot {
    width: 8px;
    height: 7px;
    background-color: #e74c3c;
    border-radius: 50%; }
    .breaker__dot:before, .breaker__dot:after {
      display: block;
      content: "";
      width: 80px;
      border-bottom: 1px solid #cbc6c0;
      position: absolute;
      top: 50%; }
    .breaker__dot:before {
      left: -95px; }
    .breaker__dot:after {
      right: -95px; }

.block {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

.wrapper {
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 65px; }

.header {
  background: url("../img/header/header_bg.png") 50% 50%;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative; }
  .header .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .header .arrow {
    position: absolute;
    width: 45px;
    height: 45px;
    color: #4a4c55;
    border-radius: 3px;
    background-color: #6a6a6a;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    cursor: pointer;
    transition: 0.1s ease-in-out; }
    .header .arrow:hover {
      background: #e74c3c;
      color: white;
      transform: scale(1.03); }
    .header .arrow-left {
      top: 50%;
      left: 45px; }
    .header .arrow-right {
      top: 50%;
      right: 45px; }
  .headerTop {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .headerTop a {
      text-decoration: none; }
    .headerTop__logo {
      box-sizing: border-box;
      font-size: 34px;
      line-height: 45px;
      text-transform: uppercase;
      letter-spacing: 1.04px;
      border: 2px solid white;
      color: white;
      font-weight: 300;
      padding-right: 7px;
      cursor: pointer; }
      .headerTop__logo span {
        background: white;
        color: #4a4c55;
        padding: 0 6px;
        font-weight: 700;
        margin-right: 5px;
        font-size: 34px; }
    .headerTop__menu {
      height: 100%; }
      .headerTop__menu a {
        display: inline-block;
        box-sizing: border-box;
        line-height: 4;
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin-right: 60px;
        border: 1px solid transparent; }
        .headerTop__menu a:last-child {
          margin-right: 0; }
        .headerTop__menu a:hover {
          color: #e74c3c;
          border-bottom: #e74c3c 1px solid; }
    .headerTopBurgerMenu {
      display: none;
      position: relative; }
      .headerTopBurgerMenu input {
        display: none; }
        .headerTopBurgerMenu input:checked ~ .headerTopBurgerMenu__list {
          display: block; }
      .headerTopBurgerMenu__icon div {
        width: 30px;
        height: 4px;
        background-color: white;
        margin-top: 6px;
        border-radius: 5px; }
      .headerTopBurgerMenu__list {
        display: none;
        position: absolute;
        right: 0px;
        top: 50px; }
        .headerTopBurgerMenu__list a {
          display: block;
          box-sizing: border-box;
          line-height: 4;
          color: white;
          font-size: 14px;
          font-weight: 400;
          padding: 0 15px;
          text-transform: uppercase;
          background-color: #646464; }
          .headerTopBurgerMenu__list a:hover {
            color: black;
            background-color: white; }
  .header h3 {
    margin-top: 235px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px; }
  .header h1 {
    margin-top: 45px;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.2px; }
  .header p {
    margin-top: 45px;
    display: block;
    width: 35%;
    color: #cbc6c0;
    line-height: 24px; }
  .headerBtns a {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 262px;
    border: 1px solid white;
    background: transparent; }
    .headerBtns a:first-child {
      margin-right: 30px; }
    .headerBtns a:hover {
      background: #e74c3c;
      transform: scale(1.03); }
  .header .anchor {
    position: absolute;
    bottom: -30px; }

.pros {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .prosContainer {
    padding-top: 90px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-between; }
    .prosContainerItem {
      box-sizing: border-box;
      width: 20%;
      text-align: center;
      color: #6a6a6a; }
      .prosContainerItem:hover .prosContainerItem__logo {
        border: 1px solid #e74c3c;
        transform: rotate(45deg); }
      .prosContainerItem:hover img {
        transform: rotate(-45deg); }
      .prosContainerItem:hover .prosContainerItem__header {
        color: #e74c3c; }
      .prosContainerItem__logo {
        display: inline-block;
        width: 73px;
        height: 73px;
        border: 1px solid grey;
        text-align: center;
        position: relative;
        margin-top: 35px; }
        .prosContainerItem__logo img {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0; }
      .prosContainerItem__header {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.35px; }
      .prosContainerItem__breaker {
        display: inline-block;
        width: 40px;
        margin-top: 20px;
        border: 1px solid #6a6a6a; }
      .prosContainerItem__content {
        margin-top: 15px;
        font-family: "Source Sans Pro";
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.9px; }

.history .wrapper {
  padding-top: 140px;
  padding-bottom: 145px; }

.historyContainerPlayer {
  display: inline-block;
  width: calc((100% - 82px) / 2);
  margin-right: 75px; }
  .historyContainerPlayer img {
    width: 100%;
    height: auto; }

.historyContainerContent {
  display: inline-block;
  width: calc((100% - 82px) / 2);
  vertical-align: top; }
  .historyContainerContent h2:before {
    display: inline-block;
    vertical-align: -6px;
    content: "";
    height: 36px;
    width: 6px;
    background: #e74c3c;
    margin-right: 30px; }
  .historyContainerContent p {
    margin-top: 50px; }
  .historyContainerContent a {
    display: block;
    background: #e74c3c;
    margin-top: 45px; }
    .historyContainerContent a:hover {
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
      transform: scale(1.03); }

.services {
  background-color: #202020;
  display: flex; }
  .servicesContent {
    text-align: right;
    width: 60%;
    padding-left: 20%;
    padding-right: 80px;
    padding-bottom: 150px;
    box-sizing: border-box; }
    .servicesContent h2 {
      margin-top: 155px;
      color: white; }
      .servicesContent h2:after {
        display: inline-block;
        vertical-align: -6px;
        content: "";
        height: 36px;
        width: 6px;
        background: #e74c3c;
        margin-left: 30px; }
    .servicesContentItem {
      position: relative; }
      .servicesContentItem h4 {
        color: #e74c3c;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        text-transform: uppercase;
        margin-top: 70px; }
      .servicesContentItem p {
        font-size: 14px;
        font-weight: 400;
        line-height: 29px;
        color: #6a6a6a; }
      .servicesContentItem__img {
        position: absolute;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: white;
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
        right: -112px;
        top: 0; }
        .servicesContentItem__img img {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto; }
  .servicesImage {
    content: "";
    width: 40%;
    background: url("../img/services/services.png") 50% 50% no-repeat;
    background-size: cover; }

.works {
  text-align: center;
  padding-top: 140px; }
  .worksNavigation {
    margin-top: 70px; }
    .worksNavigation input {
      display: none; }
    .worksNavigation__item {
      display: inline-block;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.2s ease-in-out; }
    .worksNavigation label:not(:last-child) p::after {
      content: '/';
      margin: 0 10px;
      color: black; }
    .worksNavigation label input:checked + p {
      color: red;
      transform: scale(1.05); }
    .worksNavigation__item:hover {
      transform: scale(1.05); }
  .worksContainer {
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s ease-in-out; }
    .worksContainerItem {
      width: 25%;
      position: relative;
      transition: 0.5s ease-in-out; }
      .worksContainerItem img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: -1px; }
      .worksContainerItem__content {
        transition: 0.5s ease-in-out;
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: 0.2s ease-in-out; }
        .worksContainerItem__content img {
          width: 100%;
          height: auto;
          z-index: 1; }
        .worksContainerItem__content p {
          position: absolute;
          bottom: 10%;
          left: 10%;
          color: white;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 14px;
          font-weight: 400;
          text-align: left; }
          .worksContainerItem__content p span {
            display: block;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 1.2px;
            margin-bottom: 20px; }
          .worksContainerItem__content p::before {
            content: '';
            display: block;
            width: 44px;
            height: 4px;
            background: white;
            margin-bottom: 30px; }
      .worksContainerItem:hover .worksContainerItem__content {
        opacity: 1; }

.case-study {
  text-align: center;
  background-color: #f4f5f9; }
  .case-study .wrapper {
    padding-top: 150px;
    padding-bottom: 150px; }

.stats {
  background: url("../img/stats/bg-stats.png") 50% 50% no-repeat;
  background-size: cover;
  color: white; }
  .stats .wrapper {
    padding-top: 160px;
    padding-bottom: 140px; }
  .statsContainer {
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .statsContainerItem {
      width: 20%;
      margin-right: 30px; }
      .statsContainerItem:last-child {
        margin-right: 0; }
      .statsContainerItem__icon {
        display: inline-block;
        width: 111px;
        height: 111px;
        border: 1px solid white;
        border-radius: 50%;
        position: relative; }
        .statsContainerItem__icon img {
          position: absolute;
          display: inline-block;
          margin: auto;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0; }
      .statsContainerItem p {
        margin-top: 50px;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.9px; }
        .statsContainerItem p span {
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 1.5px; }

.pricing .wrapper {
  padding-top: 155px;
  padding-bottom: 145px;
  text-align: center; }

.pricingContainer {
  display: table;
  font-family: "Open Sans";
  width: 100%;
  border-spacing: 15px;
  margin-top: 70px; }
  .pricingContainerItem {
    display: table-cell;
    position: relative;
    filter: grayscale(1);
    opacity: 0.7;
    transition: 0.2s ease-in-out;
    width: 30%;
    padding-bottom: 135px;
    background-color: #f4f5f9;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px; }
    .pricingContainerItem:hover {
      filter: grayscale(0);
      opacity: 1; }
    .pricingContainerItem__name {
      box-sizing: border-box;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.8px;
      color: white;
      background: #e74c3c;
      height: 205px;
      padding-top: 50px;
      margin-bottom: 125px; }
    .pricingContainerItem__price {
      font-family: "Source Sans Pro";
      box-sizing: border-box;
      font-size: 13px;
      font-weight: 400;
      color: black;
      background: white;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 128px;
      left: 0;
      right: 0;
      margin: auto;
      padding-top: 45px; }
      .pricingContainerItem__price span {
        font-size: 40px;
        font-weight: 700;
        color: #e74c3c; }
    .pricingContainerItem a {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      margin: auto;
      background: #e74c3c;
      width: 145px;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25); }
      .pricingContainerItem a:hover {
        transform: scale(1.02); }

.integration {
  background-color: #f4f5f9; }
  .integration .wrapper {
    padding-top: 150px;
    padding-bottom: 140px;
    text-align: center; }
  .integration p {
    margin-top: 30px; }
  .integrationContainer {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around; }
    .integrationContainer img {
      display: inline-block;
      width: 210px;
      height: 100%;
      margin: 25px 5px 0 5px;
      box-shadow: 0 1px 3px rgba(31, 31, 31, 0.09);
      filter: grayscale(0.7);
      opacity: 0.4;
      transition: 0.1s ease-in-out;
      cursor: pointer; }
      .integrationContainer img:hover {
        transform: scale(1.02);
        filter: grayscale(0);
        opacity: 1;
        box-shadow: 0 3px 9px 1px rgba(31, 31, 31, 0.3); }

.team {
  text-align: center;
  background: url("../img/team/team-bg.png") 50% 50% no-repeat;
  padding-top: 150px;
  height: 744px; }
  .team h2 {
    color: white; }
  .team h2 + p {
    color: white; }
  .teamMain {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px; }
    .teamMain__item {
      margin-top: 5%;
      color: white; }
      .teamMain__item p {
        visibility: hidden;
        margin-top: 100px;
        position: relative; }
        .teamMain__item p::before {
          content: "";
          display: block;
          height: 70px;
          border-left: 1px solid white;
          position: absolute;
          top: -180%;
          left: 50%; }
        .teamMain__item p span {
          font-weight: bold;
          color: #e74c3c;
          font-size: 20px;
          margin-bottom: 20px; }
      .teamMain__item img {
        width: 70px;
        height: 70px;
        border: 5px solid #e74c3c;
        border-radius: 50%;
        transition: 0.2s ease-in-out; }
        .teamMain__item img:hover {
          transform: scale(1.2); }
        .teamMain__item img:hover + p {
          visibility: visible; }

.blog {
  padding-top: 120px;
  text-align: center; }
  .blogContainer {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap; }
    .blogContainerItem {
      display: flex;
      width: 50%; }
      .blogContainerItem__image {
        width: 50%;
        overflow: hidden; }
        .blogContainerItem__image img {
          display: block;
          height: 100%;
          width: auto; }
      .blogContainerItem__content {
        position: relative;
        width: 50%;
        background-color: #e74e3e;
        box-sizing: border-box;
        padding: 50px;
        color: white;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        letter-spacing: 0.7px; }
        .blogContainerItem__content h4 {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 24px;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          font-weight: 400;
          margin-top: 30px; }
          .blogContainerItem__content h4::after {
            content: '';
            display: block;
            width: 44px;
            height: 4px;
            background: white;
            margin-top: 20px; }
        .blogContainerItem__content h4 + p {
          font-size: 16px;
          line-height: 30px;
          margin-top: 50px; }
        .blogContainerItem__content a {
          display: block;
          font-size: 18px;
          font-style: italic;
          font-weight: 500;
          text-decoration: none;
          color: white;
          margin-top: 55px; }
        .blogContainerItem__content .arrow {
          top: 45%;
          position: absolute;
          width: 0;
          height: 0;
          border-bottom: 35px solid transparent;
          border-top: 35px solid transparent; }
          .blogContainerItem__content .arrow-left {
            left: -30px;
            border-right: 30px solid #e74e3e; }
          .blogContainerItem__content .arrow-right {
            right: -30px;
            border-left: 30px solid #e74e3e; }

.contact {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f4f5f9; }
  .contact .wrapper {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px; }
  .contactContainer {
    display: table;
    margin-top: 70px;
    border-spacing: 30px;
    width: 100%; }
    .contactContainerInfo {
      display: table-cell;
      box-sizing: border-box;
      padding: 100px;
      background: white;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      width: 40%; }
      .contactContainerInfo p {
        text-align: left;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #6a6a6a; }
        .contactContainerInfo p a {
          text-decoration: none;
          color: #6a6a6a; }
        .contactContainerInfo p span {
          display: inline-block;
          font-size: 24px;
          text-transform: uppercase;
          font-weight: 700;
          color: #e74c3c;
          margin-bottom: 30px; }
        .contactContainerInfo p:not(:first-child) {
          margin-top: 70px; }
    .contactContainerForm {
      display: table-cell;
      padding: 100px;
      background: white;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      width: 100%; }
      .contactContainerForm input:not(:last-child) {
        display: inline-block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #cbc6c0;
        background: transparent;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        color: #6a6a6a;
        line-height: 44px;
        margin-top: 20px; }
      .contactContainerForm textarea {
        width: 100%;
        height: 150px;
        border: none;
        border-bottom: 1px solid #cbc6c0;
        background: transparent;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        color: #6a6a6a;
        line-height: 44px;
        resize: none; }
      .contactContainerForm input:last-child {
        display: block;
        width: 160px;
        background: #e74c3c;
        line-height: 44px;
        border: none;
        cursor: pointer;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
        transition: 0.2s ease-in-out;
        margin-top: 30px; }
        .contactContainerForm input:last-child:hover {
          transform: scale(1.02); }

.footer {
  background: url("../img/footer/bg.png") 50% 50% no-repeat;
  background-size: cover; }
  .footer .wrapper {
    padding-top: 150px;
    padding-bottom: 140px;
    text-align: center; }
  .footer h2 {
    text-transform: none;
    font-weight: 400;
    color: white;
    letter-spacing: normal; }
    .footer h2 span {
      font-weight: 700; }
  .footer p {
    font-size: 18px;
    line-height: 36px;
    color: white;
    letter-spacing: normal; }
  .footer a {
    margin-top: 70px;
    display: inline-block;
    background: #e74c3c; }
    .footer a:hover {
      background: white;
      color: #4a4c55;
      transform: scale(1.02); }

.social {
  background-color: #202020;
  position: relative; }
  .social .wrapper {
    padding-top: 35px;
    padding-bottom: 35px; }
  .socialContainer {
    display: flex;
    justify-content: space-between; }
    .socialContainer__icons a {
      text-decoration: none; }
    .socialContainer__icons svg {
      display: inline-block;
      height: 20px;
      width: auto;
      margin-right: 20px;
      fill: #cbc6c0;
      transition: 0.1s ease-in-out; }
      .socialContainer__icons svg:hover {
        fill: #e74c3c;
        transform: scale(1.2); }
    .socialContainer__copyright {
      color: #cbc6c0;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
  .social__top {
    position: absolute;
    right: 52px;
    top: -26px;
    background: #e74c3c;
    width: 56px;
    border-radius: 50%;
    font-size: 20px; }

@media screen and (max-width: 1060px) {
  .headerTopBurgerMenu {
    display: block; }
  .headerTop__menu {
    display: none; }
  .blogContainerItem {
    width: 100%; } }
